.App{
  color: #555555;
}

.container{
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.filters{
  flex: 1;
}

.results{
  flex: 3;
}

.results__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle{
  margin: 48px 0;
}

@media screen and (max-width:900px) {
  .container{
    padding: 1rem;
  }
}