*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 1rem 10rem;
  border-bottom: 1px solid #eee;
}

.navbar__logo{
  height: 100%;
}

.search{
  width: 30%;
  display: flex;
  justify-content: stretch;
  border-radius: 8px;
  height: 2.5rem;
  overflow: hidden;
  background: #fbfbfb;
}

.search__input{
  flex: 1;
  border: none;
  background: transparent;
  padding: 0 .5rem;
}

.search__btn{
  min-width: 64px;
  padding: 0rem 2rem;
  border: none;
  background: #8BC441;
  color: white;
}

.search__btn:hover{
  background: #8bc441e5;
}

.search__btn:active{
  background: #8bc441;
}

.navbar__actions{
  height: 100%;
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
}

.product{
  flex: 1;
  position: relative;
  min-width: 300px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.product__img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.product__helper{
  height: inherit;
  background-image: linear-gradient(rgba(255,255,255,0) 60%, rgba(255,255,255,.8) 70%);
  background-size: 200% 200%;
  background-position: 0% 70%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product__helper > h2, p{
  margin: 4px 0;
}

.product__title{
  font-size: 1rem;
}

.product__description{
  height: 0px;
  opacity: 0;
  transition: all .5s ease;
}

.product__description a{
  text-decoration: none;
  font-weight: medium;
}

.product__description a:active{
  color: #8BC441;
}

.product__description a:visited{
  color: #668f30;
}

.product:hover .product__description{
  height: 60px;
  opacity: 1;
}

.product:hover .product__helper{
  animation: hoverCard .3s ease forwards;
}

.product__price{
  font-weight: bold;
  color: #8BC441;
}

@keyframes hoverCard {
  from{background-position: 0 50%;}
  to{background-position: 0 90%;}
}

@media screen and (max-width:900px) {
  .navbar{
    padding: 1rem;
  }
}